*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

body{
    width: 100%;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
section{
    /* margin: auto;
    padding-left: 12px; */
}
.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: rgba(0, 0, 0, 0.178);
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
}


.container h1{
    text-align: center;
}



.cards img{
    width: 100px;
}
  

.right{
    float: right;
    margin-left: 500px;
    margin-top: 30px;
}


@media (max-width:1200px){
    body{
        /* width: 80%; */
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
    }

    .container{
       
        width: 60px;
        height: 300px;
        border: 1px solid;
        background-color: rgba(0, 0, 0, 0.178);
        display: flex;
        flex-direction: column;
        padding: 30px;
        justify-content:space-around;
    }

    .container h1{
        text-align: center;
        font-size: 20px;
    }

    .cards img{
        width: 90px;
    }
}


    /* Default styles */

    /* Add your default styles here */

    /* Media query for medium screens */
    @media (max-width: 1000px) {
        .container {
            /* Update container styles for medium screens */
            width: 100px;
            height: 400px;
            
        }

        .cards img{
            width: 70px;
        }

        .form-group.col-xs-6,
        .form-group.col-xs-2 {
            width: 90%;
            margin-bottom: 15px;
          padding: 5px;
        }

        .col-xs-2.text-center {
            text-align: center;
            width: 90%;
            padding: 5px;
        }

        .cards {
            text-align: center;
        }

        
    }

     /* Media query for medium screens */
     
     @media (max-width: 770px) {
        .container {
            /* Update container styles for medium screens */
            width: 770px;
            height: 600px;
          
        }

        .cards img{
            width: 50px;
        }

        .form-group.col-xs-6,
        .form-group.col-xs-2 {
            width: 80%;
            margin-bottom: 5px;
         
        }

        .col-xs-2.text-center {
            text-align: center;
            width: 80%;
            padding: 10px;
        }

        .cards {
            text-align: center;
            padding-right: 40px;
        }

        /* .text-center:first-child{
            width: 700px;
            }
            .text-center:nth-child(2){
            width: 100px;
            
            }
            .text-center:nth-child(3){
            width: 100px;
            
            } */
            .text-center:last-child{
            width: 400px;
            padding-left: 100px;
            }
    }

    @media (max-width: 600px) {
        .text-center:last-child{
            width: 600px;
            padding-right: 200px;
            }
   
    .right{
      padding-right: 50px;
      float: inline-start;
}

.cards img{
    width: 60px;
    margin-right: 100px;
}
    }





