/* container box  */
.conatiner{
    margin: 0 auto;
    max-width: 960px;
    background-color: #f2f2f2;
    }
    

.price{
 font-size: 33px;
 color: #333;
 text-align: center;
}

.form-inline{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.cards img {
    width: 50px; 
    height: auto;
  
}

.container-1{
    display: grid;
    place-items: center;
}
 /* Styles specific to larger screens */

@media (min-width: 768px) {
    .container {
        padding: 20px;
        background-color: #f2f2f2;
    }
       

    .price {
        
        font-size: 28px;
    }

    .form-inline {
       
        flex-direction: row;
    }

    .cards img {
        width: 50px;
        height: auto;
    }

   
}

 /* Styles specific to smaller screens */

@media (max-width: 767px) {
    .container {
       
        padding: 10px;
        background-color: #f2f2f2;
    }

    .price {
      
        font-size: 20px;
    }

    .form-inline {
      
        flex-direction: column;
    }

    .cards img {
        width: 30px;
        height: auto;
    }

    .container-1{
       
        place-items: start;
    }
}